.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 777;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  align-items: center;
  justify-content: center;
}

.modal__container {
  border-radius: 10px;
  width: 430px;
  background-color: #fff;
  position: relative;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -45px;
  right: -45px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 34px 64px 0 36px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  width: 330px;

  color: #000;
}

.modal__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  width: 358px;
  height: 27px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__title {
  margin: 54px 36px 0;
}

.modal__description {
  margin: 29.27px 36px 0;
}

.modal__button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #000;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #fff;
  padding: 0;
  margin: 48px 36px 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  width: 358px;
  height: 50.15px;
  transition: opacity 0.3s ease;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image-form {
  background-color: transparent;
  position: absolute;
}

.modal__image {
  height: 540px;
  width: 816px;
  padding: 0;
  margin: 0;
}

.modal__image-name {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  padding: 10px 0 0;
  margin: 0;
  height: 12px;
  width: 291px;
  color: #fff;
}

@media screen and (max-width: 880px) {
  .modal__image {
    height: 540px;
    width: 433px;
  }
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 282px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__heading {
    width: 238px;
    margin: 25px 22px 0;
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__input {
    width: 238px;
  }

  .modal__title {
    margin: 75px 22px 0;
  }

  .modal__description {
    margin: 30px 22px 0;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    top: -45px;
    right: -1px;
  }

  .modal__image {
    height: 299px;
    width: 240px;
  }

  .modal__image-name {
    width: 240px;
  }

  .modal__image-form {
    width: 240px;
  }

  .modal__image-close {
    right: -30px;
    top: -30px;
  }
}
