.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  padding: 0;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  margin-left: 30px;
  gap: 7px;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  border: 1px;
  padding: 0;
  border-style: solid;
  border-color: #fff;
  align-self: center;
  grid-area: button;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/addbutton.svg) center no-repeat;
  border: 2px #fff solid;
  border-radius: 2px;
  min-width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  transition: opacity 0.3s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 41px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: title;
}

.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
  margin: 0;
  grid-area: description;
}

.profile__image {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    width: 196px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    max-width: 282px;
    margin: 30px 19px 36px;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}
